<div class="editor">
	<h1>Editor</h1>
	<% flash.each do |name, message| %>
		<div id="<%= name %>">
			<%= message %>
		</div>
	<% end %>
	<div class="bookEditor">
		<div class="formRow searchArea">
			<%= label_tag :search, "Search:" %>
			<%= text_field_tag 'Search', nil, :placeholder => 'Enter book details...', :class => 'searchField' %>
			<div class="linkBtn pullBtn">
				<%= link_to 'Pull', '#', :id => 'pullButton' %>
			</div>
			<div class="clear"></div>
		</div>
		<%= form_for @book do |f| %>
			<div class="formRow">
				<%= f.label :title, "Title:" %>
				<%= f.text_field :title %>
			</div>
			<div class="formRow">
				<%= f.label :author, "Author:" %>
				<%= f.text_field :author %>
			</div>	
			<div class="formRow">
				<%= f.label :year, "Year:" %>
				<%= f.text_field :year %>
			</div>	
			<div class="formRow">
				<%= f.label :cover, "Cover:" %>
				<%= f.text_field :cover %>
			</div>	
			<div class="formRow">
				<%= f.label :hasRead, "Has been read?" %>
				<%= f.check_box :hasRead %>
			</div>	
			<div class="formRow">
				<%= f.label :hasCopy, "Own the book?" %>
				<%= f.check_box :hasCopy %>
			</div>	
			<div class="formRow">
				<%= f.label :hasEbook, "Own the eBook?" %>
				<%= f.check_box :hasEbook %>
			</div>
			<div class="formRowBtn">
				<div class="linkBtn">
					<%= f.submit 'Save Book' %>
				</div>
				<% if @book.id %>
					<div class="linkBtn">
						<%= link_to 'Delete', @book, :method => 'delete', :confirm => 'Are you sure?' %>
					</div>
				<% end %>
				<div class="linkBtn">
					<%= link_to 'Cancel', books_path(:filter => params[:filter]) %>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<% end %>	
	</div>
</div>
<div class="listing">
	<div class="filterSelection">
		<%= link_to 'All', :controller => "books", :action => "index", :filter => :all  %> |
		<%= link_to 'Wish List', :controller => "books", :action => "index", :filter => :wish_list  %> |
		<%= link_to 'To Read', :controller => "books", :action => "index", :filter => :to_read  %> |
		<%= link_to 'Mine', :controller => "books", :action => "index", :filter => :my  %> |
		<%= link_to 'Read', :controller => "books", :action => "index", :filter => :read  %>
	</div>
	<h1><%= ActiveSupport::Inflector.titleize(ActiveSupport::Inflector.humanize(params[:filter])) %> Books</h1>
	<div class="bookListing">
		<% if @books.length > 0 %>
			<% for book in @books do %>
				<div class="book <%= (book.id == @book.id) ? "selected" : "notSelected" %>" id="<%= ActiveSupport::Inflector.parameterize(book.title) %>">
					<div class="cover">
						<img src="<%= book.cover %>" border="0" class="bookCover">
					</div>
					<div class="title"><%= book.title %></div>
					<div class="options">
						<div class="editLnk <%= (book.id == @book.id) ? "hide" : "" %>">
							<%= link_to 'Edit', edit_book_path(book, 
								:filter => params[:filter], 
								:anchor => ActiveSupport::Inflector.parameterize(book.title)) %>
						</div>
						<div class="cancelLnk <%= (book.id == @book.id) ? "" : "hide" %>">
							<%= link_to 'Cancel', books_path(:filter => params[:filter]) %>
						</div>
					</div>
					<div class="subline">by <%= book.author %>, published <%= book.year %>.</div>
					<div class="hasRead is<%= book.hasRead %> attribute">read</div>
					<div class="hasCopy is<%= book.hasCopy %> attribute">book</div>
					<div class="hasEbook is<%= book.hasEbook %> attribute">eBook</div>
					<div class="clear"></div>
				</div>
			<% end %>
		<% else %>
			No books to display
		<% end %>
	</div>
</div>
