<h1>Book Editor</h1>
<div class="bookEditor">
	<%= form_for @book do |f| %>
		<div class="fromRow">
			<%= f.label :title %>
			<%= f.text_field :title %>
		</div>
		<div class="fromRow">
			<%= f.label :author %>
			<%= f.text_field :author %>
		</div>	
		<div class="fromRow">
			<%= f.label :year %>
			<%= f.text_field :year %>
		</div>	
		<div class="fromRow">
			<%= f.label :hasRead, "Has the book been read?" %>
			<%= f.check_box :hasRead %>
		</div>	
		<div class="fromRow">
			<%= f.label :hasCopy, "Do you own the book?" %>
			<%= f.check_box :hasCopy %>
		</div>	
		<div class="fromRow">
			<%= f.label :hasEbook, "Do you own the eBook?" %>
			<%= f.check_box :hasEbook %>
		</div>
		<div class="fromRow">
			<%= f.submit 'Save Book' %>
		</div>
	</div>
	<% end %>	
</div>
<% if @books.length > 0 %>
	<h1>Books</h1>
	<div class="bookListing">
	<% for book in @books do %>
		<div class="book">
			<div class="title"><%= book.title %></div>
			<div class="author"><%= book.author %></div>
			<div class="year"><%= book.year %></div>
			<div class="hasRead"><%= book.hasRead %></div>
			<div class="hasCopy"><%= book.hasCopy %></div>
			<div class="hasEbook"><%= book.hasEbook %></div>
			<div class="edit"><%= link_to 'Edit', edit_book_path(book) %></div>
			<div class="delete"><%= link_to 'Delete', book, :method => 'delete' %></div>
		</div>
	<% end %>
	</div>
<% end %>